PORT=<PORT>
EMAIL=<example@example.com>
PASSWORD=<password>

#database
HOST_NAME=<host>
DB_NAME=<database_name>


#oAuth2 usr
CLIENT_ID=<oAuth2_usr>
CLIENT_SECRET=<oAuth2_pass>
REDIRECT_URI=<oauthplayground>
REFRESH_TOKEN=<refresh_token>
