.client-satisfaction {

  padding: 60px 30px;
  background: url("/img/client-satisfacton-bg.jpg") no-repeat center/cover;
}
.client-satisfaction--container-inner {
  //padding: 20px;
  text-align: center;
}

.client-satisfaction--headline {
  margin: 0;
  color: $color-white;
}