.text-image-teaser {
  padding-top: 80px;
}

// Container inner | GRID Layout
.text-image-teaser--container-inner {
  display: grid;
  grid-gap: 50px;

  @include from($tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Headline
.text-image-teaser--headline {
  position: relative;
  margin-bottom: 40px;
  @extend .underline;
}

// Column left -- CTA | Overrider CTA global style
.text-image-teaser--link {
  margin: 0;
  padding-left: 80px;
  background: sassvg("download-solid", $color-white) no-repeat 35px;
  background-size: 25px;
  background-color: $color-green;

  &:hover {
    background: sassvg("download-solid", $color-white) no-repeat 35px;
    background-size: 25px;
    background-color: $color-green-dark;
  }
}

// Column left
.text-image-teaser--column-left {
  @include until($tablet) {
    order: 2;
  }
}

// Column right -- image container
.text-image-teaser--img-box {
  position: relative;
  display: block;

  &:after {
    position: absolute;
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: 25%;
    content: "";
    z-index: -1;
    border: 2px solid $color-green;
  }

  // Image
  &--image {
    display: block;
  }
}



