.breadcrumb {
  padding: 20px 0;
}

.breadcrumb--item {
  display: inline;

  &:first-child {
    margin-right: 12px;
    padding-right: 15px;
    background: sassvg("chevron-right-solid", $color-grey-middle) no-repeat right;
    background-size: 8px;
  }

  &--last {
    color: $color-green-dark;
  }
}

.breadcrumb--link {
  font-weight: 300;
  color: $color-grey-dark;
}