// Info hero | container inner
.info-hero{
  padding-bottom: 0;
}

.info-hero--container-inner {
  position: relative;
  margin: 0 -24px;

  @include from($mobile) {
    margin: 0 -32px;
  }

  @include from($desktop) {
    margin: 0 -40px;
  }
}

// Info hero | page text wrapper
.info-hero--wrap {
  padding: 0 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  color: $color-white;
}

// Info hero | page text
.info-hero--headline {
  font-size: 30px;
  color: #fff;

  @include from(375px) {
    display: block;
    font-size: $font-size-large;
  }
}