.contact--container-inner {
  display: grid;

  @include from($tablet) {
    padding: 40px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact--item {
  margin-bottom: 20px;

  &--phone {
    padding: 10px;
    padding-left: 60px;
    background: sassvg("phone-solid", $color-green) no-repeat left;
    background-size: 30px;
  }

  &--mail {
    padding-left: 60px;
    background: sassvg("envelope-solid", $color-green) no-repeat left;
    background-size: 30px;

    .mail_me {
      font-weight: $font-weight-regular;
      color: $color-black;
      transition: 0.2s;
      text-decoration: underline;
    }
  }

  &--location {
    padding: 10px;
    padding-left: 60px;
    background: sassvg("map-marker-solid", $color-green) no-repeat left;
    background-size: 25px;
  }
}

.contact--iframe {
  border: 0;
  width: 100%;
  height: 400px;
}

.contact--map-wrap {
  margin-left: -24px;
  margin-right: -24px;

  @include from($tablet) {
    position: relative;
    margin-left: unset;
    margin-right: unset;

    &:after {
      content: "";
      position: absolute;
      top: 40px;
      bottom: -30px;
      left: -40px;
      right: 30%;
      z-index: -1;
      border: 2px solid $color-green;
    }
  }
}