@import "../constants";
@import "../base/mixins";
@import "../../svg/sassvg";

// ----- CTA Styles -----
.cta {
  @include cta();
}

.cta-main {
  display: inline-block;
  padding: 10px 60px 10px 20px;
  font-size: 14px;
  border: 1px solid $color-green;
  border-radius: 2px;
}

.cta-outline-black {
  @include cta("outline-black");
}

.cta-outline-white {
  @include cta("outline-white");
}

// ----- TEXT Styles -----
.center {
  text-align: center;
}

.underline {
  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background: $color-green;
    bottom: -20px;
    left: 0;
    right: 0;
    transition: 0.3s;
  }
}

.nav-item {
  display: inline;

  // nav 'phone' item
  &--phone {
    margin-right: 40px;
    padding-left: 30px;
    background: sassvg("phone-solid", $color-white) no-repeat left;
    color: $color-green;
  }

  // nav 'mail' item
  &--mail {
    padding-left: 30px;
    background: sassvg("envelope-solid", $color-white) no-repeat left;

    .mail_me {
      font-weight: $font-weight-regular;
      color: $color-green;
      transition: 0.2s;

      &:hover {
        transition: 0.2s;
        text-decoration: underline;
      }
    }
  }
}

.footer-item {
  // nav 'phone' item
  &--phone {
    padding-left: 30px;
    background: sassvg("phone-solid", $color-black) no-repeat left;
    background-size: 18px;
    margin-bottom: 5px;
  }

  // nav 'mail' item
  &--mail {
    padding-left: 30px;
    background: sassvg("envelope-solid", $color-black) no-repeat left;
    background-size: 18px;

    .mail_me {
      font-weight: $font-weight-regular;
      transition: 0.2s;
      color: $color-black;

      &:hover {
        transition: 0.2s;
        text-decoration: underline;
      }
    }
  }
}

// SOCIAL ICONS
.social-link {
  padding: 3px 3px 3px 30px;

  &--facebook {
    background: sassvg("facebook-square-brands", $color-black) no-repeat left;
  }

  &--instagram {
    background: sassvg("instagram-square-brands", $color-black) no-repeat left;
  }

  &--linkedin {
    background: sassvg("linkedin-brands", $color-black) no-repeat left;
  }

  &--github {
    background: sassvg("github-square-brands", $color-black) no-repeat left;
  }
}

.list-checkmark {
  li {
    list-style: none;
    position: relative;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      left: -20px;
    }
  }
}

/*
<a class="cta-main-arrow">
    Pogledajte više o nama
    <span class="link-arrow"></span>
</a>
 */
.cta-main-arrow {
  @extend .cta-main;
  @include linkWithArrowExtend;
}

.cta-main-arrow-invert {
  @extend .cta-main;
  @include linkWithArrowExtend(null, null, true);
}

// On hover link extend arrow
a:hover {
  .link-arrow {
    width: 25px;
  }
}