@import "../constants";
@import "../base/mixins";
@import "../../../node_modules/normalize.css/normalize";
@import "../../svg/sassvg";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  line-height: $line-height;
}

body {
  padding-left: $container-margin;
  padding-right: $container-margin;
  @include between($mobile, $desktop) {
    padding-left: $container-margin-tablet;
    padding-right: $container-margin-tablet;
  }
  @include from($desktop) {
    padding-left: $container-margin-desktop;
    padding-right: $container-margin-desktop;
  }
}

body,
th,
td,
input,
textarea {
  font-size: $font-size;
  font-family: $font-copy;
  line-height: $line-height;
  color: $color-text-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

section{
  padding-top: 50px;
  padding-bottom: 35px;
}

.invert {
  color: $color-typography-invert;
}

h1,
.h1 {
  margin: 0;
  font-family: $font-head;
  font-size: 56px;
  font-weight: $font-weight-medium;
  line-height: $line-height-headline;
  color: $color-text-base;
  @include from($desktop-large) {
  }
  @include from($wide-screen) {
  }

  .invert & {
    color: $color-typography-invert;
  }
}

h2,
.h2 {
  margin: 0;
  font-family: $font-head;
  font-size: 36px;
  font-weight: $font-weight-semibold;
  line-height: $line-height-headline;
  color: $color-text-base;
  @include from($tablet) {
  }

  .invert & {
    color: $color-typography-invert;
  }
}

h3,
.h3 {
  margin: 0;
  font-family: $font-head;
  font-size: 26px;
  font-weight: $font-weight-medium;
  line-height: $line-height-headline;
  color: $color-text-base;
  @include from($tablet) {
  }

  .invert & {
    color: $color-typography-invert;
  }
}

h4,
.h4 {
  // Subtitle 1
  margin: 0;
  font-family: $font-head;
  font-size: 22px;
  line-height: $line-height-headline;
  @include from($tablet) {
  }

  .invert & {
    color: $color-typography-invert;
  }
}

h5,
.h5 {
  // Subtitle 2
  margin: 0;
  font-family: $font-head;
  font-size: 16px;
  font-weight: $font-weight-semibold;
  line-height: $line-height-headline;
  @include from($tablet) {
  }

  .invert & {
    color: $color-typography-invert;
  }
}

p {
  // margin-bottom: 24px;
  font-weight: $font-weight-light;
  color: $color-grey-dark;
}

ul,
ol {
  margin: 0;
}
ul,
ol {
  margin: 0;
}

ul {
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

ol {
  li {
    margin-left: 24px;
    padding-left: 14px;
  }
}

img {
  width: 100%;
  height: auto;
}

img.icon {
  width: auto;
}

a {
  font-weight: $font-weight-semibold;
  cursor: pointer;
  text-decoration: none;
  color: $color-text-link;
}

b,
strong {
  font-weight: $font-weight-semibold;
}

table {
  width: 100%;
  margin: 60px 0;
  border-collapse: collapse;

  @include from($desktop) {
    table-layout: fixed;
  }
}

th,
td {
  border: none;
  border-bottom: 1px solid $color-border-table;
  padding: 8px 30px 8px 0;
  vertical-align: top;
}

th {
  font-weight: $font-weight-medium;
  text-align: left;
}

blockquote,
.quote {
  font-size: 22px;
  line-height: 34px;
  font-style: italic;
  letter-spacing: -0.44px;
}

// Header logo
.logo {
  padding-left: 45px;
  background: sassvg("code-solid", $color-green) no-repeat left;
  background-size: 35px;

  h4 {
    margin-top: 15px;
    line-height: 1;
    color: $color-white;
  }

  small {
    position: relative;
    top: -10px;
    font-style: italic;
    color: $color-grey-dark;
  }
}

// Footer logo
.logo--footer {
  display: inline-block;
  padding-top: 25px;
  color: $color-typography;
  background: sassvg("code-solid", $color-typography) no-repeat left 8px;
  background-size: 35px;

  h4 {
    margin-top: 15px;
    line-height: 1;
  }

  small {
    position: relative;
    top: -8px;
    font-style: italic;
    font-weight: $font-weight-light;
  }
}
