<section class="testimonials">
    <div class="testimonials--container">
        <div class="testimonials--container-inner width-s">
            <h2 class="center testimonials--headline">Testimonials</h2>
            <div class="splide testimonials--splide">
                <div class="splide__track">
                    <div class="splide__list">
                        <div class="splide__slide">
                            <div class="splide__slide__container">
                                <img src="/img/testimonials/fakeuser1.png"
                                     class="splide--image"
                                     data-splide-lazy="/img/testimonials/fakeuser1.png"
                                     alt=""
                                     title="">
                                <div class="testimonials--content">
                                    <h4>Ime i prezime</h4>
                                    <small>Web developer</small>
                                    <br>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, repellat.</p>
                                </div>
                            </div>

                        </div>
                        <div class="splide__slide">
                            <div class="splide__slide__container">
                                <img src="/img/testimonials/fakeuser2.png"
                                     class="splide--image"
                                     data-splide-lazy="/img/testimonials/fakeuser2.png"
                                     alt="">
                                <div class="testimonials--content">
                                    <h5>nasliv</h5>
                                    <small>testar</small>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, repellat.</p>
                                </div>
                            </div>

                        </div>
                        <div class="splide__slide">
                            <div class="splide__slide__container">
                                <img src="/img/testimonials/fakeuser3.png"
                                     class="splide--image"
                                     data-splide-lazy="/img/testimonials/fakeuser3.png"
                                     alt="">
                                <div class="testimonials--content">
                                    <h5>nasliv</h5>
                                    <small>testar</small>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, repellat.</p>
                                </div>
                            </div>

                        </div>
                        <div class="splide__slide">
                            <div class="splide__slide__container">
                                <img src="/img/testimonials/fakeuser4.png"
                                     class="splide--image"
                                     data-splide-lazy="/img/testimonials/fakeuser4.png"
                                     alt="">
                                <div class="testimonials--content">
                                    <h5>nasliv</h5>
                                    <small>testar</small>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, repellat.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>