<section class="text-image-teaser">
    <div class="text-image-teaser--container">
        <div class="text-image-teaser--container-inner width-l">
            <div class="text-image-teaser--column-left">
                <h2 class="text-image-teaser--headline">
                    Get full range of premium Industrial services for your business
                </h2> 
                <p class="text-image-teaser--description">
                    Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor inci didunt ut
                    labore et dolore magna.
                </p>
                <p class="text-image-teaser-description">
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    aliquid ex ea commodi consequatur
                </p>
                <a class="cta text-image-teaser--link" href="">Read more</a>
            </div>
            <div class="text-image-teaser-column-right">
                <div class="text-image-teaser--img-box">
                    <img class="text-image-teaser--img-box--image"
                         src="/img/textImageTeaser.png"
                         title="text-image-teaser"
                         alt="text-image-teaser">
                </div>
            </div>
        </div>
    </div>
</section>