<section class="thinks width-full">
    <div class="thinks--container">
        <div class="thinks--container-inner width-m">
            <h2 class="center thinks--headline">Things I love</h2>
            <div class="thinks--boxes">
                <div class="thinks--box">
                    <div class="thinks--svg-box thinks--svg-box--frontend"></div>
                    <h4 class="thinks--box-title">Frontend</h4>
                    <p class="thinks--box--description">I'm more front end focused and love to work with Reactjs, Vuejs as well as pure HTML, SCSS.</p>
                </div>
                <div class="thinks--box">
                    <div class="thinks--svg-box thinks--svg-box--javascript"></div>
                    <h4 class="thinks--box-title">Javascript</h4>
                    <p class="thinks--box--description">I just extremely love javascript, I can’t even express how much i love javascript with just a few
                        line.</p>
                </div>
                <div class="thinks--box">
                    <div class="thinks--svg-box thinks--svg-box--creative-coding"></div>
                    <h4 class="thinks--box-title">Creative Coding</h4>
                    <p class="thinks--box--description">I love creative coding because i do both coding & designing. Making beautiful art with code is
                        very satisfying to me.</p>
                </div>
            </div>
        </div>
    </div>
</section>