<section class="main-technologies">
    <div class="main-technologies--container">
        <div class="main-technologies--container-inner width-m">
            <img src="/img/main-technologies.png" alt="">
        </div>
    </div>
</section>