<section class="contact">
    <div class="contact--container">
        <div class="contact--container-inner width-xl">
            <ul class="contact--list">
                <li class="contact--item contact--item--phone">
                    <h5>+381 62 97 14 555</h5>
                </li>
                <li class="contact--item contact--item--mail">
                    <a href="mailto:cenga93@gmail.com"
                       class="mail_me">
                        <h4>cenga93@gmail.com</h4>
                    </a>
                </li>
                <li class="contact--item contact--item--location">
                    <h5>Branislava Nusica, Kragujevac</h5>
                </li>
            </ul>
            <div class="contact--map-wrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.1355606680368!2d20.908773280176465!3d44.01660287540878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47572124c9205283%3A0x12c0cb16302494d8!2z0JHRgNCw0L3QuNGB0LvQsNCy0LAg0J3Rg9GI0LjRm9CwLCDQmtGA0LDQs9GD0ZjQtdCy0LDRhg!5e1!3m2!1ssr!2srs!4v1627861392446!5m2!1ssr!2srs"
                        class="contact--iframe"
                        allowfullscreen=""
                        loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</section>