<section class="projects">
    <div class="projects--container">
        <div class="projects--container-inner width-l">
            <h2 class="center projects--headline">Rest of my projects</h2>
            <div class="projects--boxes">
                <!--Single project -->
                <div class="projects--single-project">
                    <img src="/img/projects/home_pizza.jpg"
                         alt=""
                         title="">
                </div>
                <!--Single project -->
                <div class="projects--single-project">
                    <img src="/img/projects/landing_page.jpg"
                         alt=""
                         title="">
                </div>
                <!--Single project -->
                <div class="projects--single-project">
                    <img src="/img/projects/yts_torrent.jpg"
                         alt=""
                         title="">
                </div>
                <!--Single project -->
                <div class="projects--single-project">
                    <img src="/img/projects/landing_page.jpg"
                         alt=""
                         title="">
                </div>
                <!--Single project -->
                <div class="projects--single-project">
                    <img src="/img/projects/yts_torrent.jpg"
                         alt=""
                         title="">
                </div>
                <!--Single project -->
                <div class="projects--single-project">
                    <img src="/img/projects/home_pizza.jpg"
                         alt=""
                         title="">
                </div>
            </div>
        </div>
    </div>
</section>