<section class="client-satisfaction width-full">
    <div class="client-satisfaction--container">
        <div class="client-satisfaction--container-inner">
            <h2 class="client-satisfaction--headline">One and only priority is the client satisfaction</h2>
            <a href="/contact"
               class="cta-outline-white">Get a quote</a>
        </div>
    </div>
</section>
