<!--
    1. Headline is always centered
    2. Body and CTA can be centered via RTE
    3. There is a global selector for
        1. Text
        2. Table
        3. Image left
        4. Image right

-->

<!-- @INTEGRATION: Add dropdown on CE for box-background -->
<section class="ce-text box-grey">

    <!-- LAYOUT: TEXT -->
    <div class="width-s ce-text--container ce-text--container--text">
        <h2 class="center">Massgeschneiderte Kommunikationslösungen</h2>

        <!-- RTE Begin -->
        <p class="copy-lead center">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis parturient montes Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis parturient montes Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.
        </p>
        <p class="quote center">
            „Die Zusammenarbeit mit peoplefone war sehr unkompliziert. Sowohl der Kontakt als auch die
            Vertragsunterzeichnung konnten digital abgewickelt werden. Es waren keine langen Reisen für die Involvierten
            nötig.
            Wir waren so zufrieden, dass sich für daraus eine sehr gute, längerfristige
            IT-Partnerschaft ergeben hat.“
        </p>
        <p class="center">
            Daniel Spörri, Informatik, Gondelbahn Kandersteg Oeschinensee AG
        </p>
        <p class="center">
            <a href="#"
               class="cta">
                Button default
            </a>
        </p>
        <!-- RTE End -->
    </div>


    <!-- LAYOUT: TABLE -->
    <div class="ce-text--container ce-text--container--table">
        <h2 class="center">Massgeschneiderte Kommunikationslösungen</h2>

        <!-- RTE Begin -->
        <div class="table-wrap">
            <table>
                <thead>
                <tr>
                    <th>Col 1</th>
                    <th>Col 2</th>
                    <th>Col 3</th>
                    <th>Col 4</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet este consec tetuer adipiscing eliter Aenean commodo ligula eget
                        dolor.
                    </td>
                    <td>Col 2</td>
                    <td>Col 3</td>
                    <td>Col 4</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                    <td>Col 3</td>
                    <td>Col 4</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                    <td>Col 3</td>
                    <td>Col 4</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                    <td>Col 3</td>
                    <td>Col 4</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-wrap">
            <table>
                <thead>
                <tr>
                    <th>Col 1</th>
                    <th>Col 2</th>
                    <th>Col 3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Loremipsumdolorsitameteste ligula eget dolor. Lorem ipsum dolor sit amet este consec tetuer
                        adipiscing eliter Aenean commodo ligula eget dolor.
                    </td>
                    <td>consectetueradipiscingeliterAeneancommodo</td>
                    <td>Col 3</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                    <td>Col 3</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                    <td>Col 3</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                    <td>Col 3</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-wrap">
            <table>
                <thead>
                <tr>
                    <th>Col 1</th>
                    <th>Col 2</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet este consec tetuer adipiscing eliter Aenean commodo ligula eget
                        dolor.
                    </td>
                    <td>Col 2</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                </tr>
                <tr>
                    <td>Col 1</td>
                    <td>Col 2</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="center">
            <a href="#"
               class="cta">
                Button default
            </a>
        </p>
        <!-- RTE End -->
    </div>


    <!-- LAYOUT: TEXT WITH IMAGE LEFT -->
    <div class="width-l ce-text--container ce-text--container--image-left">
        <div class="ce-text--image">
            <img src="dummy/img/christin-hume-Hcfwew744z4-unsplash.jpg"
                 loading="lazy"
                 width="584"
                 height="390"
                 alt=""/>
        </div>
        <div class="ce-text--content">
            <!-- RTE Begin -->
            <p class="overline">Lorem ipsum</p>
            <h3>Headline</h3>
            <p>
                Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis parturient montes Lorem ipsum dolor sit amet, consectetuer
                adipiscing
                elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.
            </p>
            <p>
                <a href="#"
                   class="cta">
                    Button default
                </a>
            </p>
            <!-- RTE End -->
        </div>
    </div>


    <!-- LAYOUT: TEXT WITH IMAGE RIGHT -->
    <div class="width-xl ce-text--container ce-text--container--image-right">
        <div class="ce-text--content">
            <!-- RTE Begin -->
            <p class="overline">Lorem ipsum</p>
            <h3>Headline</h3>
            <p>
                Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis parturient montes Lorem ipsum dolor sit amet, consectetuer
                adipiscing
                elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.
            </p>
            <p>
                <a href="#"
                   class="cta">
                    Button default
                </a>
            </p>
            <!-- RTE End -->
        </div>
        <div class="ce-text--image">
            <img src="dummy/img/christin-hume-Hcfwew744z4-unsplash.jpg"
                 loading="lazy"
                 width="584"
                 height="390"
                 alt=""/>
        </div>
    </div>

</section>