@import "../_constants";
@import "../base/base_critical";
@import "../../svg/_sassvg";

// Main header
.header-desktop {

}

// Main container
.header-desktop--container {
  border: 1px solid black;
}

// Header top
.header-desktop--container-inner--top {
  text-align: right;
  border-bottom: 1px solid black;
}

.header-desktop--topnav {
  display: inline-block;
  margin: 0;
  padding: 10px 0;

  &--item {
    display: inline;

    &--phone {
      padding-left: 30px;
      margin-right: 40px;
      background: sassvg("phone-solid", $color-typography) no-repeat left;
      color: $color-grey-mustard;
    }

    &--mail {
      padding-left: 30px;
      background: sassvg("envelope-solid", $color-typography) no-repeat left;

      .mail_me {
        font-weight: 400;
        color: $color-grey-mustard;
      }
    }
  }
}

// Header bottom
.header-desktop--container-inner--bottom {
  display: grid;
  grid-template-columns:1fr 1fr auto;
  align-items: center;
}


.header-desktop--mainnavigation-list {

}

.header-desktop--mainnavigation-item {
  display: inline;
}
