@import "../_constants";
@import "../base/base_main";

.footer {
  padding: 0 32px;

  &--green {
    background: $color-green;

    .footer-copy {
      color: $color-black;
    }

    .footer--info--item {
      &:first-child {
        color: $color-black;

        &:after {
          background: $color-black;
        }
      }
    }

    .footer--info--link {
      color: $color-black;
    }
  }

  &--black {
    background: $color-black;

    .footer-copy {
      color: $color-white;
    }

    .footer--info--item {
      color: red;

      &:first-child {
        color: $color-white;

        &:after {
          background: $color-green;
        }
      }
    }

    .footer--info--link {
      color: $color-grey-middle;

      &:hover {
        color: $color-white;
      }
    }

    .social-link {
      &--facebook {
        background: sassvg("facebook-square-brands", $color-grey-light) no-repeat left;
      }

      &--instagram {
        background: sassvg("instagram-square-brands", $color-grey-light) no-repeat left;
      }

      &--linkedin {
        background: sassvg("linkedin-brands", $color-grey-light) no-repeat left;
      }

      &--github {
        background: sassvg("github-square-brands", $color-grey-light) no-repeat left;
      }
    }

    .footer-item {
      &--phone {
        background: sassvg("phone-solid", $color-grey-light) no-repeat left;
        color: $color-white;
      }

      &--mail {
        background: sassvg("envelope-solid", $color-grey-light) no-repeat left;

        .mail_me {
          color: $color-white;
        }
      }
    }

    .logo--footer {
      background: sassvg("code-solid", $color-green) no-repeat left 8px;
      background-size: 35px;

      h4 {
        color: $color-green;
      }

      small {
        color: $color-white;
      }
    }
  }
}

// Footer top
.footer--container-top {
  display: grid;
  padding: 40px 0;

  @include from($tablet) {
    grid-template-columns: auto 1fr;
  }
}

// Footer bottom
.footer--container-bottom {
  margin-left: -24px;
  margin-right: -24px;
  padding: 10px 24px;
  border-top: 1px solid #fff;

  @include from($mobile) {
    margin-left: -32px;
    margin-right: -32px;
    padding: 10px 32px;
  }

  @include from($desktop) {
    margin-left: -40px;
    margin-right: -40px;
    padding: 10px 40px;
  }

  p {
    margin: 0;
  }
}

.footer-copy {
  color: red;
  font-weight: $font-weight-medium;
  font-size: 12px;
}

.footer--info {
  display: grid;

  @include from($mobile) {
    grid-template-columns: 1fr 1fr;
  }

  @include from($tablet) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.footer--info--list {
  padding: 20px 0;

  @include from($tablet) {
    padding: 20px 30px;
  }
}

//footer li
.footer--info--item {
  position: relative;
  margin-bottom: 10px;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  color: $color-black;

  &:first-child {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: bold;
    color: $color-black;
    @extend .underline;

    &:after {
      background: $color-black;
    }
  }
}

.footer--info--link {
  font-weight: $font-weight-light;

  &:hover {
    text-decoration: underline;
  }
}
