@import "../constants";
@import "../base/mixins";

header {
  background: black;
  color: #fff;
  overflow: hidden;
}

.header-mobile--container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-mobile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
  transition: .3s;
  @include from($mobile) {
    padding: 10px 32px;
  }

  &--sticky {
    transition: .3s;
    background-color: $color-black;
  }
}

.header-mobile--container-inner {
  overflow: hidden;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s ease-in-out;
  padding: 10px 24px;
  background-color: $color-black;
  height: 100vh;
  z-index: 2;
  outline: 1px solid rgba(255, 255, 255, 0.06);

  &.show {
    left: 0%;
    transition: 0.3s ease-in-out;
    width: 240px;
  }
}

.header-mobile--item{
  margin: 10px 0;

  &:first-child{
    display: grid;
    margin-top: 0;
  }
}

.header-mobile--logo-wrap{
  display: grid;
}

.header-mobile--toggle-box {
  display: inline-block;
  cursor: pointer;

  span {
    background-color: ghostwhite;
    width: 30px;
    height: 2px;
    margin: 6px 0;
    display: block;
    transition: all 0.4s ease;
    transform-origin: 0 0;
  }

  &--active {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(1px, -6px);
      }

      &:nth-child(2) {
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(1px, 4px);
      }
    }
  }
}

.header-mobile--toggle-box span {
}
