<!doctype html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <!-- Set metatags -->
    <meta name="description" content="Personal Portfolio"/>
    <!-- Social Media -->
    <meta property="og:image" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:domain" content="">
    <meta property="twitter:image" content="">


    <!-- CRITICAL CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="css/critical.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="css/main.min.css"
          media="all">
    <!-- CRITICAL JS -->
    <script defer src="js/critical.min.js"></script>
    <!--  PAGE TITLE -->
    <% if(typeof title !== "undefined") { %>
        <title><%= title %></title>
    <% } else { %>
        <title>Document</title>
    <% } %>
</head>
<body>