<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <!-- CRITICAL CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="css/critical.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="css/main.min.css"
          media="all">
    <!-- CRITICAL JS -->
    <script src="js/critical.min.js"></script>
    <!--  PAGE TITLE -->
    <% if(typeof title !== "undefined") { %>
        <title><%= title %></title>
    <% } else { %>
        <title>Document</title>
    <% } %>
</head>
<body>