<footer class="footer width-full">
    <div class="footer--container">
        <div class="footer--container-inner">
            <!-- BEGIN: footer--container-top -->
            <div class="footer--container-top width-xl">
                <!-- BEGIN: footer-info -->
                <div class="footer--info">
                    <!-- Logo wrappe -->
                    <div class="footer-logo-wrapper">
                        <!-- INCLUDE:  _includes_mobilelogo -->
                        <%- include('_includes_logo_footer') %>
                    </div>
                    <!-- Contact -->
                    <ul class="footer--info--list">
                        <li class="footer--info--item">Contact</li>
                        <li class="footer-item--phone">+(0)93 597 25 4871</li>
                        <li class="footer-item--mail">
                            <a href="mailto:cenga93@gmail.com"
                               class="mail_me">
                                cenga93@gmail.com
                            </a>
                        </li>
                    </ul>
                    <!-- Navigation -->
                    <ul class="footer--info--list">
                        <li class="footer--info--item">Navigation</li>
                        <li class="footer--info--item">
                            <a class="footer--info--link" href="">Home</a>
                        </li>
                        <li class="footer--info--item">
                            <a class="footer--info--link" href="">About</a>
                        </li>
                        <li class="footer--info--item">
                            <a class="footer--info--link" href="">Service</a>
                        </li>
                    </ul>
                    <!-- Service -->
                    <ul class="footer--info--list">
                        <li class="footer--info--item">Service</li>
                        <li class="footer--info--item">
                            <a href="" class="footer--info--link">Home</a>
                        </li>
                        <li class="footer--info--item">
                            <a href="" class="footer--info--link">About</a>
                        </li>
                        <li class="footer--info--item">
                            <a href="" class="footer--info--link">Service</a>
                        </li>
                        <li class="footer--info--item">
                            <a href="" class="footer--info--link">Blog</a>
                        </li>
                        <li class="footer--info--item">
                            <a href="" class="footer--info--link">Contact</a>
                        </li>
                    </ul>
                    <!-- Social media -->
                    <ul class="footer--info--list">
                        <li class="footer--info--item">Social media</li>
                        <li class="footer--info--item">
                            <a class="footer--info--link social-link social-link--facebook" href="">Facebook</a>
                        </li>
                        <li class="footer--info--item">
                            <a class="footer--info--link social-link social-link--instagram" href="">Instagram</a>
                        </li>
                        <li class="footer--info--item">
                            <a class="footer--info--link social-link social-link--linkedin" href="">Linkedin</a>
                        </li>
                        <li class="footer--info--item">
                            <a class="footer--info--link social-link social-link--github" href="">Github</a>
                        </li>
                    </ul>
                </div>
                <!-- END: footer-info -->
            </div>
            <!-- END:footer--container-top -->
            <!-- BEGIN: footer--container-bottom -->
            <div class="footer--container-bottom">
                <div class="footer--container-bottom-wrapper width-xl">
                    <p class="footer-copy">&copy; All right reserved. </p>
                </div>
            </div>
            <!-- END: footer--container-bottom -->
        </div>
    </div>
</footer>