<header id="header-mobile" class="header-mobile hide-from-desktop width-full">
    <div class="header-mobile--container">
        <div class="header-mobile--container-inner width-xl">
            <div class="header-mobile-top">
                <!-- INCLUDE:  _includes_logo -->
                <%- include('_includes_logo') %>
                <!-- Navigation toggle-->
                <div class="header-mobile--toggle-box">
                    <!-- Three span elements will be appended from js. Fix html validator warning -->
                </div>
            </div>
            <nav class="mobile-nav">
                <ul>
                    <li class="header-mobile--item">
                        <!-- INCLUDE:  _includes_logo -->
                        <%- include('_includes_logo') %>
                    </li>
                    <li class="header-mobile--item"><a href="/">Home</a></li>
                    <li class="header-mobile--item"><a href="/#about">About</a></li>
                    <li class="header-mobile--item"><a href="/#projects">Projects</a></li>
                    <li class="header-mobile--item"><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>