<section class="divider"
         aria-label="divider">
    <div class="divider--container width-xl">
        <div class="divider--line"></div>
        <div class="divider--item-wrap">
            <div class="divider--item"></div>
            <div class="divider--item"></div>
            <div class="divider--item"></div>
            <div class="divider--item"></div>
            <div class="divider--item"></div>
        </div>
        <div class="divider--line"></div>
    </div>
</section>