// Main Container widths
// We need these values to add space left and right of items which don't have 100% width

// Margins and paddings
// Used for side margins, paddings
$container-margin: 24px;
$container-margin-tablet: 32px;
$container-margin-desktop: 40px;

$container-max-width: 1208px;

// Breakpoints
$mobile-small: 480px;
$mobile: 600px;
$tablet: 900px;
$desktop: 1024px;
$desktop-large: 1240px;
$wide-screen: 1440px;
$ultra-wide-screen: 1680px;

// Widths, margins and padding
$width-xxs: $mobile-small - 2 * $container-margin;
$width-xs: $mobile - 2 * $container-margin;
$width-s: $tablet - 2 * $container-margin;
$width-m: $desktop - 2 * $container-margin;
$width-l: $desktop-large - 2 * $container-margin;
$width-xl: $wide-screen - 2 * $container-margin;
$width-xxl: $ultra-wide-screen - 2 * $container-margin;

$width-xxs-tablet: $mobile-small - 2 * $container-margin-tablet;
$width-xs-tablet: $mobile - 2 * $container-margin-tablet;
$width-s-tablet: $tablet - 2 * $container-margin-tablet;
$width-m-tablet: $desktop - 2 * $container-margin-tablet;
$width-l-tablet: $desktop-large - 2 * $container-margin-tablet;
$width-xl-tablet: $wide-screen - 2 * $container-margin-tablet;
$width-xxl-tablet: $ultra-wide-screen - 2 * $container-margin-tablet;

$width-xxs-desktop: $mobile-small - 2 * $container-margin-desktop;
$width-xs-desktop: $mobile - 2 * $container-margin-desktop;
$width-s-desktop: $tablet - 2 * $container-margin-desktop;
$width-m-desktop: $desktop - 2 * $container-margin-desktop;
$width-l-desktop: $desktop-large - 2 * $container-margin-desktop;
$width-xl-desktop: $wide-screen - 2 * $container-margin-desktop;
$width-xxl-desktop: $ultra-wide-screen - 2 * $container-margin-desktop;

$margin-xxs: 10px;
$margin-xs: $container-margin;
$margin-s: 30px;
$margin-m: 50px;
$margin-l: 80px;
$margin-xl: 100px;
$margin-xxl: 120px;

// Gutters
$gutter-mobile: 24px;
$gutter-tablet: 32px;
$gutter-desktop: 40px;

// Fonts
$font-head: 'Fira Sans', sans-serif;
$font-copy: 'Fira Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-size: 16px;
//$font-size-large: 22px;
//$font-size-small: 11px;

$line-height: 1.5;
$line-height-headline: 1.2;

// Main colors
$color-typography: #0a0a0a;
$color-typography-invert: #fff;
$color-white: #fff;
$color-red: #9b1c20;
$color-bordeaux: #6c181c;
$color-grey-light: #edeae6;
$color-grey-middle: #b4aca6;
$color-grey-dark: #867f7c;
$color-grey-mustard: #d5b05d;
$color-green: #2f8e71;
$color-grey-headerbackground: #DBD5CD;


// Text colors
$color-text-base: $color-typography; // Main Text color
$color-text-soft: $color-grey-dark; // Soft warm grey
$color-text-link: $color-red;
$color-text-hover: $color-bordeaux;

// Border Colors
$color-border-soft: $color-grey-middle;
$color-border-table: $color-grey-middle;

// Border Radius
$box-radius: 4px;



$background-color-grey: $color-grey-light;
$background-color-grey-dark: $color-grey-dark;
$background-color-red: $color-bordeaux;